<section class="products">
  <h2>Our <span class="accentedText">Products</span></h2>
  <div id="products" class="products__container">
    <% products.forEach(function(product) { %>
      <div class="card card--vertical card--product">
          <h3><%= product.title %></h3>
          <a href="<%= product.endpoint %>">
            <img src="../assets/<%= product.image %>" alt="<%= product.alt %>">
          </a>
          <button 
            role="link"
            onclick="window.location = '<%= product.endpoint %>'"
            class="button button--primary-outline button--block"
            >
            See Product Details
          </button>
      </div>
    <% }); %>
  </div>
</section>