<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../css/productPage.css">
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/contact'); %>
    <main>
      <h1 class="productTitle"><%= product.title %></h1>

      <section class="imageSection">
        <div class="imageSection__imageContainer">
          <img src="../assets/<%= product.image %>" alt="<%= product.alt %>">
        </div>
        <div class="imageSection__textContainer">
          <% (product?.sectionOrdering ?? []).slice(0,2).forEach(function(section) { %>
            <h2 class="linedTitle">
              <%= section %>
            </h2>
            <%- product?.section?.[section] %>
          <% }); %>    
        </div>
      </section>
      <% product?.sectionOrdering.slice(2).forEach(function(section) { %>
        <h2 class="linedTitle">
          <%= section %>
        </h2>
        <%- product?.section?.[section] %>
      <% }); %>
      <div class="buttonSection">
        <button role="button" class="button button--primary">
          Contact PWTech Engineers for help with System Design
        </button>
        <% (product?.extraLinks ?? []).forEach(function(link) { %>
          <a 
            role="document" 
            class="button button--primary-outline" 
            href="../assets/flyers/<%= link.link %>" 
            target="_blank">
            <%= link.text %>
          </a>
        <% }); %>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
